@import './SwipeCore.styles.scss';

.swipe-main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .swipe-main-body {
        width: 100%;
        position: relative;
        margin: var(--spacing-xl) 0 var(--spacing-xl) 0;

        #gradient-canvas {
            width: 200%;
            height: 970px;
            transform: rotate(-10deg);
            position: absolute;
            left: -200px;
            top: -720px;
            z-index: -1;
            --gradient-color-1: #ef008f;
            --gradient-color-2: #6ec3f4;
            --gradient-color-3: #7038ff;
            --gradient-color-4: #ffba27;
        }
    }
}