@import './SwipeCore.styles.scss';

body {
    background-color: var(--text-grey);
}

.swipe-main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .swipe-main-body {
        margin-top: var(--spacing-xl);
    }
}