.global-section-main {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: calc(var(--spacing-xl) * 3) 0;
    position: relative;


    .global-section-container {
        margin-top: var(--spacing-lg);
        color: var(--text-light);
        position: relative;

        a {
            color: var(--blue-1);
        }

        .globe-img {
            height: 506px;
            opacity: 0.2;
            position: absolute;
            bottom: 0;
            right: 0
        }

        .card-container {
            display: flex;
            margin-top: calc(var(--spacing-lg) * 2);

            .swipe-card {
                margin-right: var(--spacing-md);

                p:nth-of-type(2) {
                    margin-top: 0;
                }
            }
        }
    }
}

.global-section-main::before {
    content: "";
    width: 100%;
    height: 900px;
    background-color: var(--primary-accent);
    left: 0;
    top: 80px;
    transform: skewY(-10deg);
    position: absolute;
    z-index: -1;
}