body {
    padding: 0;
    margin: 0;
    background-color: rgb(192, 133, 62);
}

.container .navbar {
    background-color: black;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-start;

    a {
        font-size: 1.2rem;
        color: white;
        margin: 0px 20px;
    }

    a.spl-link {
        margin-left: auto;
        color: white;
        margin-right: 50px;
    }
}

.cards-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    .card {
        display: flex;
        margin: 0 15px;
        background-color: bisque;
        padding: 20px;
        flex-direction: column;
        flex: 1;

        section {
            margin-bottom: 25px;
        }

        footer {
            background-color: rgb(229, 211, 17);
            margin-top: auto;
            padding: 15px;
            text-align: center;
        }
    }
}