// Method - 1

// @mixin center-content {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }

// body {
//     margin: 0;
//     padding: 0;
//     background-image: radial-gradient(#0288d1, #01579b);
//     height: 100vh;
//     @include center-content;
// }

// .badge-button-bg {
//     background-color: rgb(0,0,0, 0.1);
//     box-shadow: 0 2px 10px rgba(0,0,0,0.1);
//     height: 75px;
//     width: 200px;
//     margin: 0 auto;

//     @include center-content;
//     border: 3px solid white;
//     border-radius: 6px;
//     position: relative;

//     &:hover {
//         opacity: 0.8;
//         cursor: pointer;
//     }

//     .link-btn {
//         text-decoration: none;
//         color: white;
//         font-size: 1.5rem;
//     }

//     .badge-count {
//         position: absolute;
//         width: 42px;
//         height: 42px;
//         border-radius: 50%;
//         background-color: rgb(18, 175, 18);
//         border: 3px solid white;
//         color: white;
//         right: -10px;
//         top: -20px;
//         text-align: center;
//         font-size: 1.2rem;
//         @include center-content;
//     }
// }

@mixin center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(#0288d1, #01579b);
    height: 100vh;
    @include center-content;
}

.btn-link {
    border: 3px solid white;
    padding: 30px 60px;
    color: white;
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
    font-size: 2rem;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
    border-radius: 6px;
    position: relative;
    transition: background-color 3s, color 3s, transform 3s;
    display: inline-block; // <-- add this!
    margin-right: 30px;

    &:hover {
        background-color: white;
        color: black;
        //transform: translateX(150px);
    }

    .btn-badge {
        border: 3px solid white;
        background-color: #4caf50;
        padding: 5px 15px;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        right: -10px;
    }
}

.btn-1, .btn-2 {
    border: 3px solid white;
    padding: 30px 60px;
    color: blue;
    cursor: pointer;
    background-color: rgba(255, 255, 255);
    font-size: 2rem;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
    border-radius: 6px;
    display: inline-block; // <-- add this!
    margin-right: 30px;
    text-transform: uppercase;
}
