body {
    // Core Page Settings
    margin: 0;
    padding: 0;
    font-family: "Mukta", sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.blog-main-container {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Bitter", serif;
        font-weight: 500;
    }

    h1 {
        font-size: 80px;
        letter-spacing: -1.5px;
        font-weight: 400;
        margin: 0;
    }

    h2 {
        font-size: 50px;
        letter-spacing: -0.5px;
    }

    h3 {
        font-size: 38px;
        letter-spacing: 0px;
    }

    h4 {
        font-size: 30px;
        letter-spacing: 0.25px;
    }

    h5 {
        font-size: 24px;
        letter-spacing: 0.25px;
    }

    h6 {
        font-size: 20px;
    }

    .blog-header-container {
        background-color: #863ae8;
        height: 100vh;
        color: white;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1, p{
            width: 75%;
            max-width: 900px;
            margin: 16px 0;
        }

        hr {
            width: 50%;
            margin: 32px 0;
        }
    }

    .date-time-title {
        text-align: center;
        text-transform: uppeercase;
        font-weight: bold;
        font-size: 14px;
        margin-top: 50px;

        .date-time-sub-title {
            color: #e95400;
            letter-spacing: 1px;
        }
    }

    .blog-body-container {
        max-width: 900px;
        margin: 0 auto;
        padding: 32px;
        padding-top: 0;

        h3 {
            text-transform: capitalize;
        }

        .para-1 {
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0;
            margin: 40px 0;
            font-size: 18px;
        }

        .quote {
            font-style: italic;
            font-size: 14px;
            border-left: 2px solid #e95400;
            padding-left: 16px;
            margin: 32px 0 32px 32px;

            cite {
                display: block;
                font-weight: bold;
                margin-left: 20px;
            }
        }

        code {
            color: #e95400;
            font-weight: bold;
        }
    }

    .blog-footer-container {
        background-color: #863ae8;
        font-size: 14px;

        .footer-nav {
            height: 100%;

            ul {
                list-style: none;
                width: 100;
                max-width: 900px;
                margin: 0 auto;
                text-align: center;
                padding: 12px 0;
            }

            li {
                display: inline-block;
                margin-left: 25px;
            }
        }

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            color: white
        }
    }
}