body {
    margin: 0;
    padding: 0;
    font-family: "Forum", serif;
}

.simple-resume-container {
    .banner-container {
        background-color: #f08e80;
        width: 100%;
        //min-height: 90vh;
        display: inline-block;

        .banner-content {
            padding: 0 15%;
            color: white;

            .tag-line {
                font-size: 4.5rem;
                letter-spacing: 2px;
            }

            .bc-2-col {
                .title-bc {
                    font-size: 1.5rem;
                }
            }

            .bc-2-col p {
                width: 50%;
                float: left;
                box-sizing: border-box;
            }

            .bc-2-col .bc2col-skills {
                width: 50%;
                float: left;
                box-sizing: border-box;
                list-style: none;
                padding: 0;

                li {
                    width: 50%;
                    float: left;
                    font-size: 1.25rem;
                    margin: 8px 0;
                }
            }
        }

        .bc-header {
            .bc-link {
                background-color: white;
                color: #f08e80;
                padding: 16px 24px;
                text-decoration: none;
            }

            .bc-link:hover {
                opacity: 0.8;
            }

            .bc-para {
                font-weight: bold;
                font-size: 2rem;
                margin: 0;
                padding: 0;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            padding: 24px 32px;

            .bc-nav ul {
                padding: 0;

                li {
                    list-style: none;
                    display: inline-block;

                    a {
                        color: white;
                        text-decoration: white;
                        margin-right: 10px;
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }

    .blog-container {
        width: 100%;
        display: inline-block;

        .blog-content {
            padding: 2% 15%;

            .section-1 {
                width: 50%;
                box-sizing: border-box;
                float: left;
                font-size: 1.5rem;
                margin: 12px 0 0 0;
            }

            .section-2 {
                width: 50%;
                box-sizing: border-box;
                float: left;

                .b-header {
                    font-size: 1.5rem;
                }

                .b-text {
                    font-size: 1rem;
                }

                .b-date {
                    font-size: 0.9rem;
                    color: grey;
                }
            }
        }
    }

    .events-container {
        width: 100%;
        display: inline-block;
        background-color: #fdf0e5;

        .events-content {
            padding: 2% 15%;

            .section-1 {
                width: 50%;
                box-sizing: border-box;
                float: left;
                font-size: 1.5rem;
                margin: 22px 0 0 0;
            }

            .section-2 {
                width: 50%;
                box-sizing: border-box;
                float: left;

                .b-header {
                    font-size: 1.5rem;
                }

                .b-text {
                    font-size: 1rem;
                }

                .b-date {
                    font-size: 0.9rem;
                    color: grey;
                }
            }
        }
    }

    .footer-section {
        background-color: black;
        padding: 60px;
        
        .footer-content {
            text-align: center;

            img {
                width: 2rem;
                height: 2rem;
                margin: 0 8px;
            }

            p {
                color: white;
            }
        }
    }
}