.virtual-events-main {
    display: flex;
    width: 100%;
    justify-content: center;

    .virtual-events-container {
        margin-top: var(--spacing-lg);

        .virtual-info-card {
            height: 350px;
            width: 550px;
            border-radius: 20px;
            box-shadow: var(--standard-box-shadow);
            overflow: hidden;

            .vic-top {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .swipe-img {
                    width: 300px;
                }

                .avatars {
                    position: absolute;
                    top: 100%;
                    left: calc(var(--spacing-lg) * 4);

                    img {
                        width: 80px;
                    }

                    img:nth-of-type(2) {
                        position: relative;
                        left: -20px;
                    }
                }
            }

            .vic-bottom {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding-left: var(--spacing-lg);
                padding-top: var(--spacing-lg);
                p {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-weight: 700;
                }
                
            }

            .vic-top::before {
                background: var(--primary-gradient);
                content: "";
                position: absolute;
                height: 150%;
                width: 100%;
                transform: skewY(-5deg);
                top: -30%;
                z-index: -1;
            }
        }
    }
}