body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.box {
    margin: 30px;
    width: 30px;
    height: 30px;
    border: 5px solid rgb(216, 209, 209);
    border-right: 5px solid rgb(18, 115, 12);
    z-index: 5;
    border-radius: 50%;
    animation: 0.8s infinite ease-in-out spin;
}

@keyframes spin {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

.main-cont {
    width: 100%;
    margin: 0;
    padding: 0;


    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 25px 0 25px 0;
        max-width: 90%;
        margin: 20px auto;

        .left {
            display: flex;
            font-size: 32px;
            font-weight: bold;
        }

        .right {
            display: flex;
            justify-content: space-between;
            width: 500px;
            align-items: center;

            a {
                text-decoration: none;

                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }

        .mobile-nav {
            display: flex;
            width: 60px;
            height: 100vh;
            z-index: 7;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: white;
            position: fixed;
            top: 0;
            right: -160px;
            padding: 12px;
            margin-top: 65px;
            transition: all .5s ease-in-out;

            &.open {
                transform: translateX(-160px);
            }

            a {
                text-decoration: none;
                margin: 15px 0;

                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }

        @keyframes fade1 {
            to {
                transform: scaleX(1);
            }

            from {
                transform: scaleX(0);
            }
        }

        @keyframes fade2 {
            to {
                transform: rotate(0deg);
            }

            from {
                transform: rotate(45deg) translateY(14px);
            }
        }

        @keyframes fade3 {
            to {
                transform: rotate(0deg);
            }

            from {
                transform: rotate(-45deg) translateY(-14px);
            }
        }

        .hamburger {
            flex-direction: column;
            display: flex;
            margin: 8px 0 8px 8px;

            .bar {
                margin: 3px;
                height: 4px;
                width: 36px;
                background-color: black;
            }

            &.open {
                margin: 8px -18px 0px 8px;

                .bar1 {
                    transform: rotate(45deg) translateY(14px);
                }

                .bar3 {
                    transform: rotate(-45deg) translateY(-14px);
                }

                .bar2 {
                    transform: scaleX(0)
                }

            }
        }

    }

    .portfolio-container {
        width: 100%;
        max-width: 90%;
        margin: 0 auto;



        .grid-container {
            display: grid;
            gap: 16px;
            grid-template-areas:
                "eth eth alphabet"
                "eth eth traveler"
                "astro cube traveler"
                "astro cube traveler"
                "cup insta insta"
                "cup insta insta"
                "foam foam dimensional"
                "foam foam dimensional";

            #eth {
                grid-area: eth;
            }

            #alphabet {
                grid-area: alphabet;
            }

            #traveler {
                grid-area: traveler;
            }

            #astro {
                grid-area: astro;
            }

            #cube {
                grid-area: cube;
            }

            #cup {
                grid-area: cup;
            }

            #insta {
                grid-area: insta;
            }

            #foam {
                grid-area: foam;
            }

            #dimensional {
                grid-area: dimensional;
            }


            .image-cont {
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(255, 255, 255, 0.1);
                    color: black;
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 700;
                    font-size: 36px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    align-items: center;
                    opacity: 0;
                    transition: all 0.2s ease;
                }
            }

            .image-cont:hover {
                .overlay {
                    opacity: 0.9;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .main-cont .portfolio-container {
        .grid-container {
            grid-template-areas:
                "eth alphabet"
                "eth traveler"
                "astro cube"
                "astro cube"
                "cup insta"
                "cup insta"
                "foam dimensional"
                "foam dimensional";
        }
    }
}

@media only screen and (max-width: 780px) {
    .main-cont .portfolio-container {
        .grid-container {
            grid-template-areas:
                "eth"
                "alphabet"
                "traveler"
                "astro"
                "cube"
                "cup"
                "insta"
                "foam"
                "dimensional";
        }
    }
}

@media only screen and (min-width: 780px) {

    .main-cont .header {
        .hamburger {
            display: none;
        }
    }

}

@media only screen and (max-width: 780px) {

    .main-cont .header {
        position: fixed;
        z-index: 5;
        box-sizing: border-box;
        background-color: white;
        width: 100%;
        max-width: 100%;
        padding: 16px 34px;
        top: -20px;
        left: 0;

        .right {
            display: none;
        }
    }

    .main-cont .grid-container {
        margin-top: 30px;
    }

}
