body {
    background-color: rgb(233, 223, 255);
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.cost-estimator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;

    h1 {
        color: rgb(83, 49, 156);
    }

    .card-container {
        background-color: white;
        max-width: 900px;
        width: 100%;
        max-width: 900px;
        color: rgb(44, 44, 44);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 30px 0;
    }

    // nav-container styles BEGIN
    .card-container .nav-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(200, 175, 255);
        position: relative;

        a {
            padding: 15px;
            cursor: pointer;
            opacity: 0.4;
            text-decoration: none;
            position: relative;
        }

        a:hover {
            color: rgb(83, 49, 156);
            opacity: 1;
        }

        .active {
            opacity: 1;
        }

        .nav-line {
            height: 3px;
            background-color: rgb(231, 231, 231);
            width: 100%;
            position: absolute;
            top: 50px;
        }
    }

    .card-container .nav-container .active::before {
        content: "";
        width: 200%;
        height: 5px;
        background-color: purple;
        position: absolute;
        border-radius: 5px;
        top: 49px;
        z-index: 2;
        left: -50%;
    }

    // nav-container styles END



    // Tab Container Styles

    .card-container .tab-container {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: space-between;

        img {
            height: 40px;
            margin: 0 20px;
        }

        .toggle-wrapper {
            background-color: purple;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            width: 185px;
            border-radius: 20px;
            padding: 0 4px 0 16px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12x;
            box-sizing: border-box;

            span:first-of-type {
                color: white;
            }

            span:last-of-type {
                color: purple;
                background-color: #fff;
                border-radius: 20px;
                padding: 4px 15px;
            }
        }
    }

    // Session -card
    .session-card {
        margin: 16px 0;
        padding: 32px;
        text-align: center;
        width: 50%;
        text-transform: uppercase;
        background-color: rgb(250, 247, 255);
        border-radius: 10px;

        p:first-of-type {
            font-size: 12px;
            font-weight: bold;
            color: rgb(44, 44, 44);
            margin: 0;
        }

        p:last-of-type {
            font-size: 54px;
            font-weight: bold;
            color: rgb(83, 49, 156);
            margin: 0;
        }
    }

    .desc-ssc {
        line-height: 32px;
        padding: 0 6%;
    }

    .card-container .price-container {
        width: 90%;

        .price-cards {
            display: flex;
            justify-content: space-around;
            flex-direction: row;

            .pcard {
                background-color: rgb(250, 247, 255);
                border-radius: 10px;
                padding: 16px;
                text-align: center;
                font-weight: bold;
                margin: 16px;
                box-shadow: 0 3px 11px 1px rgba(0, 0, 0, 0.1);
                color: rgb(83, 49, 156);
                transition: 0.15s transform ease;
                position: relative;

                button {
                    color: white;
                    background-color: rgb(83, 49, 156);
                    padding: 16px;
                    font-weight: bold;
                    border-radius: 10px;
                    transition: 0.15s transform ease;
                }

                button:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }

                .save-p {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.2rem;
                    color: white;
                    background-image:
                        linear-gradient(90deg,
                            rgba(2, 0, 36, 1) 0%,
                            rgb(53, 64, 224) 36%,
                            rgba(83, 49, 156, 1) 100%,
                        );
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    position: absolute;
                    top: -25px;
                    margin: 0;
                    width: 100%;
                    left: 0;
                }

            }

            .pcard:hover {
                transform: translateY(-8px);
            }
        }

        .slider-scale {
            display: flex;
            justify-content: space-between;
            color: grey;
            font-weight: bold;
            font-size: 1rem;
            margin-bottom: 20px
        }

        .slider {
            width: 100%;
            position: relative;

            .bar {
                border: 1px solid rgb(210, 210, 210);
                width: 100%;
                height: 16px;
                background-color: rgb(248, 248, 248);
                border-radius: 20px;
            }

            .bar .progress {
                width: 31%;
                height: 18px;
                position: absolute;
                top: 0px;
                background: linear-gradient(90deg,
                        rgba(2, 0, 36, 1) 0%,
                        rgb(53, 64, 224) 36%,
                        rgba(83, 49, 156, 1) 100%,
                    );
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            .bar .pointer {
                height: 24px;
                width: 24px;
                background-color: purple;
                border: 2px solid white;
                position: absolute;
                top: 6px;
                top: -5px;
                left: 30%;
                border-radius: 50%;
                transition: 0.15s transform ease;
            }

            .bar .pointer:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }

}