// // h1 {
// //     text-align: center;
// //     letter-spacing: 20px;
// //     font-weight: 500;
// //     font-size:190px;
// //     background-color: red;;
// //     // font-family: sans-serif;
// //     text-shadow: 5px 5px 0px #eb452b,
// //         10px 10px 0px #efa032,
// //         15px 15px 0px #46b59b,
// //         20px 20px 0px #017e7f,
// //         25px 25px 0px #052939,
// //         30px 30px 0px #c11a2b,
// //         35px 35px 0px #c11a2b,
// //         40px 40px 0px #c11a2b,
// //         45px 45px 0px #c11a2b;
// //     text-align: center;
// //     font-weight: 700;
// // }

// // h2,
// // p {
// //     font-family: "Indie Flower", cursive;
// // }

// // body {
// //     font-family: "Space Mono", monospace;
// //     background-color: #fdf9fd;
// // }

// // h1 {
// //     font-size: 100px;
// //     line-height: 1;
// //     font-weight: 400;
// // }

// // h2 {
// //     font-size: 50px;
// // }

// // p {
// //     font-size: 20px;
// // }

// // .main-container-cantilever {
// //     width: 65%;
// //     margin-left: 100px;
// //     margin-top: 100px;
// //     margin-bottom: 300px;
// // }

// // .artist-txt {
// //     text-shadow: 0 -6.25px #0c2ffb,
// //         0 -12.5px #2cfcfd, 0 6.25px red, 0 12.5px yellow;
// //         text-transform: lowercase;
// // }

// // #lorem {
// //     text-decoration: blue wavy underline;
// // }

// // .dummy-list {
// //     list-style-type: georgian;
// //     list-style-position:inside;
// // }

// // a:visited {
// //     color: orange;
// // }

// // a:hover {
// //     color:green;
// //     text-decoration: line-through;
// // }]

// // universal selctor
// // *{
// //     margin: 0;
// //     padding: 0;
// // }

// input[type="number"] {
//     background-color: yellow;
// }

// a[href*="wiki"] {
//     color: rgb(121, 3, 23);
// }

// #test-span {
//     border: 4px solid red;
//     padding: 20px;
//     margin: 5px;
//     display: inline-block;
//     height: 35px;
//     width: 35px;
//     ;
// }

// #box1 {
//     border: 1px solid red;
//     height: 580px;
//     width: 450px;
// }

// #box-h2 {
//     border: 1px solid green;
//     height: 40px
//     width: 140px;
//     text-align: center;
//     margin: 0 auto;
// }

.main-container {
    border: 0px solid rgb(217, 215, 215);
    margin: 50px auto;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    background-color: rgb(221, 216, 216);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}