.platform-section-main {
    display: flex;
    width: 100%;
    justify-content: center;

    .platform-section-container {
        margin-top: var(--spacing-xl);

        h3 {
            max-width: 50%;
        }
    }
}