@import '../../Styles/SwipeCore.styles.scss';

.primary-button {
    &.with-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            transition: all 0.25s ease;
        }
    }

    &.with-icon:hover {
        img {
            transform: translateX(5px);
        }
    }

    &.btn-variant-2 {
        background-color: rgba(250, 250, 250, 0.25);

        &:hover {
            background-color: rgba(250, 250, 250, 0.5);
        }
    }
}

.secondary-button {
    &.with-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            transition: all 0.25s ease;
        }
    }

    &.with-icon:hover {
        img {
            transform: translateX(5px);
        }
    }
}