.payment-hero-container {
    margin: var(--spacing-sm) 0 0 0;

    .left-sec-text {
        max-width: 500px;
    }

    .btn-container {
        display: flex;
        margin: var(--spacing-md) 0;
    }

    button:nth-of-type(2) {
        margin-left: var(--spacing-md);
    }

    .hero-phone-img {
        height: 630px;
        transform: translate(40px, -80px);
    }

    .two-column .col-right {
        align-items: flex-end;
    }
}