.flex-test-container {
  font-family: sans-serif;
  background-color: #ddd;
  font-size: 30px;
  margin: 40px;


  // Flex properties 

  display: flex;
  align-items: center; // cross-axis
  justify-content: flex-start; // main-axis
  gap: 10px;

  .el {
    flex: 1;
  }

  .el--1 {
    background-color: blueviolet;
    align-self: flex-start;
    // flex-grow: 5;
  }

  .el--2 {
    background-color: orangered;
  }

  .el--3 {
    background-color: green;
    height: 150px;
  }

  .el--4 {
    background-color: goldenrod;
  }

  .el--5 {
    background-color: palevioletred;
    align-self: stretch;
  }

  .el--6 {
    background-color: steelblue;
    order: -1;
  }

  .el--7 {
    background-color: yellow;
  }

  .el--8 {
    background-color: crimson;
  }
}


.grid-test-container {
  font-family: sans-serif;
  background-color: #ddd;
  font-size: 30px;
  margin: 40px;
  height: 400px;

  // grid 

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 1fr;
  // gap:30px;

  column-gap: 30px;
  row-gap: 60px;

  .el--1 {
    background-color: blueviolet;
  }

  .el--2 {
    background-color: orangered;
  }

  .el--3 {
    background-color: green;
    height: 100px;
  }

  .el--4 {
    background-color: goldenrod;
  }

  .el--5 {
    background-color: palevioletred;
  }

  .el--6 {
    background-color: steelblue;
  }

  .el--7 {
    background-color: yellow;
    display: none;
  }

  .el--8 {
    background-color: crimson;
  }
}