body {
    background-color: rgb(255, 240, 242);
    margin: 0;
    padding: 0;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    .box {
        background-color: aqua;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: 10px;
        border: 1px solid red;

    }

    span.box:nth-child(1) {
        animation: 1s bounce infinite ease-in-out;
    }

    span.box:nth-child(2) {
        animation: 1s bounce infinite ease-in-out 0.33s;
    }

    span.box:nth-child(3) {
        animation: 1s bounce infinite ease-in-out 0.66s;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0) scale(1);
    }

    30% {
        transform: translateY(-20px) scale(1.5);
    }

    75% {
        transform: translateY(0) scale(1);
    }
}