.photos-grid-main {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: var(--spacing-xl) 0;

    .photos-grid-container {
        margin-top: var(--spacing-xl);
        width: 100%;
        display: grid;
        place-self: center;
        grid-template-areas:
            "card slack slack"
            "phone slack slack"
            "phone chart chart";
        gap: var(--spacing-lg);

        #credit-card {
            grid-area: card;
            width: 100%;
        }

        #slack {
            grid-area: slack;
            width: 100%;
        }

        #phone {
            grid-area: phone;
            width: 100%;
        }

        #chart {
            grid-area: chart;
            width: 100%;
        }

    }
}